html,body{
    background-color: rgb(20, 20, 20);
    padding: 0;
    margin: 0;
    font-family: Helvetica, Arial,  sans-serif;
}

header{
    background-color: transparent;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    transition: all ease 700ms;
}
header.black-bg{
    background-color: rgb(20, 20, 20);
}

.container{
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;

}
.header-cont{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.brand{
    max-width: 120px;
}

.left-cont , .right-cont{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main-nav{
    list-style: none;
    display: inline-flex;
    flex-direction: row;
}

.nav-item, .active{
    font-size: 13.5px;
    font-weight: 200;
    color: #dbd1d1;
    margin-right: 20px;
    cursor: pointer;
}
.nav-item:hover{
    color: white;
}



.right-cont svg ,.right-cont img, .right-cont a{
    margin-right: 22px;
    cursor: pointer;
}
.right-cont a{
    color: white;
    text-decoration: none;
}

.right-cont svg{
    color: white;
}


/* movies section*/
   
.explore-nudge{
    align-items: center;
color: #54b9c5;
font-size: 13px;
display: none;
cursor: pointer;
}

.row{
    margin: 41px 0;
}

 .row_poster{
    margin-right: 6px;
    border-radius: 4px;
    flex-direction: row;
    align-items: center;
    width: 245px;
    object-fit: contain;
    
   }
   .row_poster-1{
    max-height: 200px;
    margin-right: 35px;
    border-radius: 4px;
    flex-direction: row;
    align-items: center;
    width: 245px;
    object-fit: contain;
    
   }

   .row-posters{
   cursor: pointer;
    margin-left: 30px;
    flex-direction: row;
    align-items: center;
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
   }
  

   .row_poster:hover{
    transform: scale(1.3);
    transition: transform linear 300ms;
   }

   .row_poster-1:hover{
    transform: scale(1.3);
    transition: transform linear 300ms;
   }

   .row-posters::-webkit-scrollbar{
    display: none;
   }

   .hd{
    margin-bottom: 0;
    margin-left: 50px;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    color: white;
   }
   .hd:hover .explore-nudge{
    display:inline-block ;
}







/* banner */

.banner-section{
    background-repeat: no-repeat;
    background-size: cover;
     min-height: 90vh;
   position: relative;
   padding: 40px;
}

.banner-content{
    display: flex;
    flex-direction: column;
    padding: 50px;
  margin-left: 0;
   
}

.banner-title{
 max-height: 800px;
 margin: 0;
 margin-top: 150px;
 margin-right: 30px;
}
.banner-title img{
    max-width: 750px;
   
}


.banner-info{
    
 margin-bottom: 14px;
 font-size: 22px;
 font-weight: 700;
 line-height: 1.5;
 color: white;
}

.banner-overview{
margin-top: 0px;
 color: white;
 font-size: 16.4px;
 line-height: 1.3;
 max-width: 40%;

}

.action-btn-cont{
  
  display: flex;
  flex-direction: row;
  align-items: center;
}

.action-btn{
    border: none;
    background-color: white;
    align-items: center;
    display:flex;
    flex-direction: row;
    border-radius: 4px;
    margin-right: 11px;
    padding: 8px 23px;
    font-size: 16px;
    font-weight: 700;
   cursor: pointer;
}

.action-btn:hover{
    background-color: rgb(223, 231, 234);
}

.action-btn:last-child{
    background-color: rgba(109, 109, 110, 0.7);
    color: white;
}
.action-btn:last-child:hover{
    background-color: rgba(130, 130, 137, 0.7);
}

.banner-fadebottom{
    height: 120px;
    background: linear-gradient(180deg, transparent, rgba(20, 20, 20, 0.61),#141414);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}


/* Footer */

.member-footer{
    padding: 22px 100px;
    margin-left: 122px;
  
}
.social-links a{
   color: white;
   padding: 15px;
   font-size: 22px;
   
}

.membr{
    display: flex;
   
    
    
}

.member-1{
   list-style: none;
   margin-right: 100px;
    margin-left: -35px;
    
}

.member-1 li{
    margin-bottom: 15px;
}

.member-2{
    list-style: none;
    margin-right: 100px;
}
.member-2 li{
    margin-bottom: 15px;
}
.member-3{
    list-style: none;
    margin-right: 100px;
}
.member-3 li{
    margin-bottom: 15px;
}
.member-4{
    list-style: none;
    margin-right: 100px;
}
.member-4 li{
    margin-bottom: 15px;
}

.member-footer-link{
    text-decoration: none;
    color: grey;
    font-size: small;
    font-weight: 500;
   
}

.member-footer-link:hover{
    text-decoration: underline;
}


.service {
    
    font-size: 13px;
    margin-bottom: 20px;
    padding: 0.5em;
}

.service-code{
    cursor: pointer;
    background: transparent;
    border: 1px solid grey;
    color: grey;
    font-size: .8rem;
    padding: 0.5rem;
}

.service-code:hover{
    color: white;
}

.copyright{
    color: grey;
    font-size: 10.8px;
    font-weight: 300;
    line-height: .8; 
    margin-left: 10px;
    
}

.credit{
    color: grey;
    font-size: 10.8px;
    font-weight: 300;
    line-height: .8; 
    margin-left: 700px; 
}




/* responsive css*/
@media (max-width:767px) {
    .main-nav{
        display: none;
    }
    .banner-overview{
        display: flex;
    
       max-width: 100%;
    }


    .member-footer{
       display:contents;
       max-width: 100%;
    }
   
}
